<main class="main">
  <app-header></app-header>
  <div class="layout">
    <div class="side-panel">
      <ul>
        <li *ngFor="let group of questionGroups">
          <button
            (click)="selectGroup(group.id)"
            [ngClass]="{ active: selectedGroupId === group.id }"
          >
            {{ group.name }}
          </button>
        </li>
      </ul>
    </div>

    <div class="center-panel">
      <app-card
        *ngIf="selectedGroup"
        [text]="selectedGroup.name"
        [questions]="selectedGroup.questions"
        (delete)="deleteGroup(selectedGroup.id)"
      ></app-card>
    </div>

    <div class="side-panel">
      <button (click)="addNewGroup()">Dodaj novu grupu</button>
    </div>
  </div>
</main>

<router-outlet />
