<main class="main">
  <app-header></app-header>
  <div class="layout">
    <div class="side-panel">
      <ul>
        <li *ngFor="let card of cards">
          <button (click)="selectCard(card)" (keydown.enter)="selectCard(card)" [ngClass]="{ active: selectedCard?.id === card.id }">
            {{ card.text }}
          </button>
        </li>
      </ul>
    </div>
    <div class="center-panel">
      <ng-container *ngIf="selectedCard as card">
        <app-card [text]="card.text" (delete)="deleteCard(selectedCard)"></app-card>
      </ng-container>
    </div>
    <div class="side-panel">
      <button (click)="addNewGroup()">Dodaj novu grupu</button>
    </div>
  </div>
</main>

<router-outlet />