.main {
    height: 100vh;
    background-color: rgb(240, 235, 248);
    display: flex;
    flex-direction: column;
}

.layout {
    width: 100%;
    height: 100%;
    display: flex;
    flex: 1;
}

.side-panel {
    width: 20%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.center-panel {
    width: 60%;
    padding: 20px;
    display: flex;
    justify-content: center;
}
