<main class="main">
  <app-header></app-header>
  <div class="layout">
    <div class="side-panel"></div>
    <div class="center-panel">
      <app-home-page *ngIf="!selectedGroupId" [questionGroups]="questionGroups" (select)="selectCard($event)"
        (add)="addNewGroup()"></app-home-page>

      <app-card-page *ngIf="selectedGroup" [group]="selectedGroup" (back)="deselectGroup()"
        (delete)="deleteGroup($event.id)" (update)="updateGroup($event.id, $event.changes)"
        (confirm)="confirmGroup($event.id, $event.questions)"></app-card-page>
    </div>
    <div class="side-panel"></div>
  </div>
</main>