<mat-card>
    <mat-card-header>
        <div class="titleholder">
            <mat-card-title>Card: {{text}}</mat-card-title>
        </div>
        <div class="actionholder">
            <button mat-icon-button color="warn" (click)="deleteCard()" aria-label="Obriši grupu pitanja">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </mat-card-header>

    <mat-card-content>
        <div cdkDropList (cdkDropListDropped)="drop($event)" class="question-list">
            <div *ngFor="let question of questions" cdkDrag class="question-item">
                {{ question }}
            </div>
        </div>
    </mat-card-content>

    <mat-card-footer>
        <button mat-fab color="primary" class="fab" (click)="addNewQuestion()" aria-label="Dodaj pitanje">
            <mat-icon>
                add
            </mat-icon>
        </button>
    </mat-card-footer>
</mat-card>