<mat-card>
  <mat-card-header (mouseenter)="hover=true" (mouseleave)="hover=false">
    <div class="titleholder">
      <mat-card-title>
        <ng-container *ngIf="!editingTitle; else editTitle">
          <span class="titleholder-text" (click)="startEditing('title')">{{ text || 'Bez naslova' }}</span>
        </ng-container>
        <ng-template #editTitle>
          <input [(ngModel)]="text" (blur)="stopEditing()" (keydown.enter)="stopEditing()" class="material-input"
            placeholder="Obrazac bez naslova" autofocus />
        </ng-template>
      </mat-card-title>
      <p class="titleholder-description">
        <ng-container *ngIf="!editingDescription; else editDescription">
          <span (click)="startEditing('description')">{{ description || 'Opis obrasca' }}</span>
        </ng-container>
        <ng-template #editDescription>
          <textarea [(ngModel)]="description" (blur)="stopEditing()" rows="1" class="material-textarea"
            placeholder="Opis obrasca" autofocus></textarea>
        </ng-template>
      </p>
    </div>
    <div class="actionholder">
      <button mat-icon-button color="warn" (click)="deleteCard()" aria-label="Obriši grupu pitanja">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card-header>

  <mat-card-content>
    <div cdkDropList [cdkDropListDisabled]="isConfirmed" (cdkDropListDropped)="drop($event)" class="question-list">
      <div *ngFor="let question of questions; let i = index" cdkDrag class="question-item">
        <div class="question-dragger" cdkDragHandle></div>
        <div class="question-header">
          <span class="question-number">{{ question.number }}.</span>

          <!-- DA/NE pitanje -->
          <div *ngIf="question.type === 'radio'" class="question-item__container">
            <mat-form-field appearance="outline" class="question-text-field">
              <input class="question-input" matInput [(ngModel)]="question.text" placeholder="Unesite tekst pitanja" [readonly]="isConfirmed" />
            </mat-form-field>
            <mat-radio-group [(ngModel)]="question.answer" [disabled]="isConfirmed">
              <mat-radio-button value="da">Da</mat-radio-button>
              <mat-radio-button value="ne">Ne</mat-radio-button>
            </mat-radio-group>
          </div>

          <!-- Checkbox opcije -->
          <div *ngIf="question.type === 'checkbox'" class="question-item__container">
            <mat-form-field appearance="outline" class="checkbox-text-field">
              <input matInput placeholder="Unesite tekst pitanja" [readonly]="isConfirmed" />
            </mat-form-field>
            <div *ngFor="let option of question.options; let i = index">
              <div class="option">
                <mat-checkbox [(ngModel)]="option.value" [disabled]="isConfirmed"></mat-checkbox>
                <input matInput placeholder="Ponuđena opcija" [(ngModel)]="option.label" [readonly]="isConfirmed" />
                <button class="option__add" *ngIf="!isConfirmed" (click)="addOption(question)">+</button>
                <button class="option__add" *ngIf="!isConfirmed && (question.options?.length ?? 0) > 1" (click)="deleteOption(question, i)" aria-label="Obriši opciju">-</button>
              </div>
            </div>
          </div>

          <!-- Ocjena 1-5  -->
          <div *ngIf="question.type === 'rating_1_5'" class="question-item__container">
            <mat-form-field appearance="outline" class="question-text-field">
              <input class="question-input" matInput [(ngModel)]="question.text" placeholder="Unesite tekst pitanja" [readonly]="isConfirmed" />
            </mat-form-field>
            <mat-radio-group [(ngModel)]="question.answer" [disabled]="isConfirmed">
              <mat-radio-button *ngFor="let option of [1,2,3,4,5]" [value]="option">
                {{ option }}
              </mat-radio-button>
            </mat-radio-group>
            <div *ngIf="question.answer === 1">
              <mat-form-field appearance="outline" class="comment-field">
                <input
                  matInput
                  [(ngModel)]="question.comment"
                  placeholder="Molimo pojasnite zašto ste dali ocjenu 1"
                  [required]="true"
                  [readonly]="isConfirmed" />
              </mat-form-field>
            </div>
          </div>

          <mat-form-field *ngIf="question.type !== 'radio' && question.type !== 'checkbox' && question.type !== 'rating_1_5'" appearance="outline" class="question-text-field">
            <input class="question-input" matInput [(ngModel)]="question.text" placeholder="Unesite tekst pitanja"
              [readonly]="isConfirmed" />
          </mat-form-field>
          <button *ngIf="!isConfirmed" mat-mini-fab color="warn" (click)="deleteQuestion(i)" class="delete-button"
            aria-label="Obriši pitanje">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </mat-card-content>

  <mat-card-footer>
    <button *ngIf="!isConfirmed" mat-flat-button color="primary" (click)="confirmGroupOfQuestions()"
      class="confirm-button">
      Potvrdi unos
    </button>
    <button *ngIf="!isConfirmed" mat-fab color="primary" class="fab" (click)="openQuestionTypeDialog()"
      aria-label="Dodaj pitanje">
      <mat-icon>add</mat-icon>
    </button>
    <span class="confirmed" *ngIf="isConfirmed">
      <div class="confirmed-label">✅ Potvrđeno!</div>
      <div class="confirmed-details">{{ location }}, {{ confirmationTime }}</div>
    </span>
  </mat-card-footer>
</mat-card>