<div class="layout">
    <div class="new-group-panel">
        <p class="description">Pokretanje novog obrasca</p>
        <button class="new-group" (click)="add.emit()">
            <div class="new-group-container">
                <img src="plus-icon.png" alt="Dodaj">
            </div>
        </button>
    </div>

    <div class="groups-list">
        <p class="description">Nedavni obrasci</p>
        <ul>
            <li *ngFor="let group of questionGroups">
                <button class="group-list" (click)="select.emit(group.id)">
                    <div class="group-list-container">
                        <img src="filled-form.png" alt="Otvori">
                    </div>
                </button>
                <p>{{ group.name }}</p>
            </li>
        </ul>
    </div>
</div>