<div class="layout">
    <div class="search">
        <input class="search-input" type="text" [(ngModel)]="searchTerm" placeholder="Pretraživanje... 🔍" />
    </div>

    <div class="new-group-panel">
        <p class="description">Pokretanje novog obrasca</p>
        <button class="new-group" (click)="add.emit()">
            <div class="new-group-container">
                <img src="plus-icon.png" alt="Dodaj">
            </div>
        </button>
    </div>

    <div class="groups-list">
        <p class="description">Nedavni obrasci</p>
        <ul>
            <li *ngFor="let group of filteredGroups">
                <div class="group-actions">
                    <button class="group-list" (click)="select.emit({ id: group.id, mode: 'edit' })">
                        <div class="group-list-container">
                            <img src="filled-form.png" alt="Uredi">
                        </div>
                    </button>
                </div>
                <p>{{ group.name }}</p>
            </li>
        </ul>
    </div>
</div>